# Auto detect text files and perform LF normalization
* text=auto

# TypeScript
*.ts text eol=lf
*.tsx text eol=lf

# JavaScript
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf

# Markdown
*.md text eol=lf

# YAML
*.yaml text eol=lf
*.yml text eol=lf

# CSS
*.css text eol=lf

# HTML
*.html text eol=lf

# Shell scripts
*.sh text eol=lf

