.dashboard {
    padding: 32px;
}

.dashboard .logo {
    width: 36px;
    height: 36px;
    color: #078bba;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background: linear-gradient(135deg, #FFA116, #2CBB5D);
    border-radius: 8px;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.dashboard .nav {
    margin-bottom: 12px;
}

.dashboard .nav .title {
    margin-bottom: -4px;
    color: #595959;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }
}